---
- name: Start Docker Containers
  hosts: "{{ hosts_override | default('docker_containers') }}"
  tasks:
      - name: Create Docker containers
        ansible.builtin.include_tasks:
            file: tasks/docker_container_replicas.yml
        loop: "{{ docker_containers }}"
